# Arquivos de compilação
*.class

# Arquivos de pacote JAR
*.jar

# Arquivos de configuração do Eclipse
.classpath
.project
.settings/

# Arquivos de configuração do IntelliJ IDEA
.idea/

# Diretório de saída do Maven
target/
