<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginSevlet</servlet-name>
        <servlet-class>controller.auth.LoginSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.auth.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUserMediaServlet</servlet-name>
        <servlet-class>controller.ListUserMediaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMediaServlet</servlet-name>
        <servlet-class>controller.SearchMediaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMediaToListServlet</servlet-name>
        <servlet-class>controller.AddMediaToListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMediaAtSearchServlet</servlet-name>
        <servlet-class>controller.DeleteMediaAtSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMediaServlet</servlet-name>
        <servlet-class>controller.DeleteMediaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginSevlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUserMediaServlet</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMediaServlet</servlet-name>
        <url-pattern>/SearchMedia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMediaToListServlet</servlet-name>
        <url-pattern>/AddMedia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMediaAtSearchServlet</servlet-name>
        <url-pattern>/DeleteMediaAtSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMediaServlet</servlet-name>
        <url-pattern>/DeleteMedia</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
